/** Summary **/
/* This css file contains style information
    for certain classNames described here to
    be used in the layout.js file
*/

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}